<% content_for :title, "Editing usuario" %>

<h1>Editar usuario</h1>

<%= render "form", usuario: @usuario %>

<br>

<div>
  <%= link_to "Ver Usuario", @usuario %> |
  <%= link_to "Regresar a lista", usuarios_path %>
</div>
